/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    color: #333;
}

.subtitle {
    font-size: 1.2em;
    margin-top: 10px;
    color: #0071B2;
    line-height: 1.4;
}

.intro {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

#map {
    flex: 2;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

#filter-container {
    flex: 1;
    margin-left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.filter-group input[type="checkbox"] {
    margin-right: 8px;
}

#reset-filters {
    background-color: #0071B2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#reset-filters:hover {
    background-color: #005a8c;
}

.description {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.description h3 {
    margin-top: 0;
    color: #0071B2;
    font-size: 1.5em;
}

.description p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.description li {
    margin-bottom: 10px;
}

.description strong {
    color: #00008B;
}

.legend-container {
    position: absolute;
    margin-top: 100px;
    z-index: 1000;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.legend {
    font-size: 14px;
    margin-bottom: 10px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend svg {
    margin-right: 5px;
}

.legend span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.link {
    stroke: grey;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

.highlight-link {
    stroke: red;
    stroke-opacity: 1;
    stroke-width: 2;
}
#researcher-popup {
    position: absolute;
    left: 150px;
    top: 10%;
    width: 250px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none;
}

#close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#close:hover {
    color: #CF243C;
}

.highlight {
    color: #CF243C;
    font-weight: bold;
}

.link {
    stroke: orange;
    stroke-width: 2;
    stroke-opacity: 0.7;
}